{% extends 'homep.html' %}


{% load static %}  
{% block content %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <h1 class="page-title">Product List</h1>
    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <a href="{% url 'product_detail' product.pk %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image"/>
                    {% else %}
                        <div class="no-image">No image available</div>
                    {% endif %}
                    <h2 class="product-name">{{ product.name }}</h2>
                    <p class="product-price">${{ product.price }}</p>
                    <p class="product-description">{{ product.description|truncatewords:15 }}</p>
                </a>
                <div class="add-to-cart">
                    <button class="btn">Add to Cart</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
