{% extends "users/base.html" %}

{% load static %}  

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Our Online Store!</h1>
    <p class="lead">Find great products at amazing prices.</p>
    <hr class="my-4">
    <p>Start shopping now or become a seller to list your products.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">Login</a>
</div>
{% endblock %}
