{% extends "users/base.html" %}
{% block content %}
<h2>Buyer Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">View and manage your orders.</p>
                <a href="#" class="btn btn-primary">Go to Orders</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wishlist</h5>
                <p class="card-text">View and manage your wishlist.</p>
                <a href="#" class="btn btn-primary">Go to Wishlist</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reviews</h5>
                <p class="card-text">Manage your product reviews.</p>
                <a href="#" class="btn btn-primary">Go to Reviews</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}