{% extends "users/base.html" %}
{% block content %}
<h2>Seller Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">Manage your products.</p>
                <a href="#" class="btn btn-primary">Go to Products</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">View and manage customer orders.</p>
                <a href="#" class="btn btn-primary">Go to Orders</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Analytics</h5>
                <p class="card-text">View sales and performance analytics.</p>
                <a href="#" class="btn btn-primary">Go to Analytics</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}